<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=
    "Elevate your drone soccer game with 3QS! We provide everything you need, from high-performance drones to specialized equipment and expert coaching.  Join the growing drone soccer community today!"
    >
    <meta name="keywords" content=
    "drone soccer league,drone soccer championship,drone soccer teams,drone soccer rules,how to play drone soccer,best drone for drone soccer,drone soccer equipment,
        drone soccer practice drills,drone soccer tricks, DIY drone soccer arena, build a drone soccer drone, FPV drone soccer,drone racing vs drone soccer,drone soccer for kids,drone soccer near me,drone soccer events,
        drone pilot training,learn to fly drones,commercial drone pilot license,drone programming classes,best drone schools,online drone courses"
    >

    <!--TAB ICON-->
    <link rel="icon" type="image/x-icon" href="/images/ds.png" style="color: #fff">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/fontawesome/css/brands.css">
    <link rel="stylesheet" href="/fontawesome/css/solid.css">

    <!-- Animate On Scroll -->
    <link rel="stylesheet" href="/aos/aos.css">
    <script src="/aos/aos.js"></script>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="/css/404.css">

    <!--GSAP-->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <title>Drone Soccer | Drones, Sports, STEM</title>
</head>
<body>

<%- include('./alerts') %>

<!-- NAVBAR -->

<nav style="background-color: #e3f2fd;" class="navbar sticky-top navbar-expand-lg bg-body-tertiary navbar-hide-on-scroll">
    <div class="container-fluid ">
        <a class="navbar-brand ps-5" href="#">
            <img src="/images/ds.png" alt="Drone Soccer" width="120" height="100">
        </a>
        <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="text-align: center;" class="collapse navbar-collapse justify-content-center"  id="navbarSupportedContent">
            <ul style="margin-left: auto" class="nav nav-pills navbar-nav ">
                <li class="nav-item px-3">
                    <a class="nav-link"  aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/stem">Curriculum</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/join">Onboarding</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/sports">e-Sports</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link"  href="/events">Events</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link"  href="/FAQs">FAQs</a>
                </li>
            </ul>
            <span style="margin-left: auto">
                    <li class="px-3">
                        <a class="nav-link" href="https://drones.3qs.co.ke/">
                            <span class="pe-2"><img src="/images/2.png" width="120" height="80"></span>
                        </a>
                    </li>
                </span>
        </div>

    </div>
</nav>
