<%- include('partials/header') %>

<section class="pb-4" id="pills-events">
    <div class="container-fluid">
        <div class="text-center py-3">
            <h2 class="intro-title">
                Upcoming Events
            </h2>
        </div>

        <div class="row">
            <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4"  data-aos="flip-right" data-aos-duration="1500">
                <div class="card mb-3 border-secondary">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/1200px-Flag_of_Italy.svg.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">2024 VII Trofeo Secchia F9U open International</h4>
                        <p class="card-text">
                            Modena, Italy
                        </p>
                        <p class="card-text">
                            7th Sept - 8th Sept 2024
                        </p>
                        <a href="https://www.fai.org/sport/drones?upcoming=1&f%5B0%5D=fai_event_year%3A2024&display=list#event-" target="_blank">
                            <p style="text-align: center;"><span class="px-2">Explore</span><i class="fa-solid fa-arrow-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4"  data-aos="flip-right" data-aos-duration="2000">
                <div class="card mb-3 border-secondary">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaJHaECRRmNiYrqsl1lW8GbjZ46iF4MkymO9PckeldUQ&s" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">2024 Riyadh Drone Racing World Cup</h4>
                        <p class="card-text">
                            Riyadh, Saudi Arabia
                        </p>
                        <p class="card-text">
                            12th Sept - 14th Sept 2024
                        </p>
                        <a href="https://www.fai.org/sport/drones?upcoming=1&f%5B0%5D=fai_event_year%3A2024&display=list#event-" target="_blank">
                            <p style="text-align: center;"><span class="px-2">Explore</span><i class="fa-solid fa-arrow-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4"  data-aos="flip-right" data-aos-duration="2500">
                <div class="card mb-3 border-secondary">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Flag_of_Turkey.svg/640px-Flag_of_Turkey.svg.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">THSF İstanbul Drone Racing World Cup</h4>
                        <p class="card-text">
                            Istanbul, Turkey
                        </p>
                        <p class="card-text">
                            21th Sept - 22th Sept 2024
                        </p>
                        <a href="https://www.fai.org/sport/drones?upcoming=1&f%5B0%5D=fai_event_year%3A2024&display=list#event-" target="_blank">
                            <p style="text-align: center;"><span class="px-2">Explore</span><i class="fa-solid fa-arrow-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4"  data-aos="flip-right" data-aos-duration="3000">
                <div class="card mb-3 border-secondary">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgtOioXlYu0CR2r5e-iNUKG0GuI38_sBPMGx_4J3wNQg&s" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">ASFC F9U World Cup Chongqing, China</h4>
                        <p class="card-text">
                            Chongqing, China
                        </p>
                        <p class="card-text">
                            24th Sept - 27th Sept 2024
                        </p>
                        <a href="https://www.fai.org/sport/drones?upcoming=1&f%5B0%5D=fai_event_year%3A2024&display=list#event-" target="_blank">
                            <p style="text-align: center;"><span class="px-2">Explore</span><i class="fa-solid fa-arrow-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<%- include('partials/footer') %>