<%- include('partials/header') %>

<section id="faq-section pt-2 pb-4">
    <div class="pt-2 pb-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle section-tittle2 text-center mb-3">
                        <h2>Frequently Asked Questions (FAQs)</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <span class="faq-btn-text">Outline The Team Composition</span>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Drone soccer is played by teams of equal size, consisting of 3-5 active players (referred to as "Pilots") and up to 5 additional members (the "Crew"). Each team roster must be coed and can have a maximum of ten players.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <span class="faq-btn-text">Is There Any Protective Equipment?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Due to the high speeds of broken propeller blades, all players and referees must wear protective eyewear when near the arena during active gameplay.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <span class="faq-btn-text">What Is The Tournament Schedule Like?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Each match comprises three sets, with each set lasting 3-5 minutes. There is a 3-5 minute interval between sets for battery exchange, drone repair, and substitutions. Each match is allocated a total of 30 minutes.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <span class="faq-btn-text">How Are The Results & Standings Determined?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                The match winner is determined by the best of three sets. The team with the most points in each set wins that set. All three sets are played for ranking purposes. In case of a tie, a sudden death round (first to score) will decide the match winner.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                <span class="faq-btn-text">What Do I Need To Prepare?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><strong>Striker Designation:</strong><p>Teams designate a Striker before each set using lights and/or flags.</p></li>
                                    <li><strong>Backup Drone:</strong><p>Teams can place a backup drone in the staging area for emergencies.</p></li>
                                    <li><strong>Forfeiture:</strong><p>Teams without ready drones after a warning can choose to fly short-handed or forfeit the set.</p></li>
                                    <li><strong>Pilot Area:</strong><p>Only active players are allowed in the pilot area during gameplay.</p></li>
                                    <li><strong>Substitutions:</strong><p>No substitutions are allowed during a set, but unlimited substitutions can be made between sets.</p></li>
                                    <li><strong>Controller Use:</strong><p>Players cannot swap radio controllers during gameplay.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                <span class="faq-btn-text">How Does The Game Begin?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Drones are placed on the staging table with batteries attached but not connected. The referee will place the drones in the starting zone and signal “Radios On” for pilots to prepare their radios.
                                <ul>
                                    <li><strong>Connection Attempts:</strong><p>Two attempts can be made to connect the drone before using a spare.</p></li>
                                    <li><strong>Arming:</strong><p>Drones are not armed until commanded by the referee. When ready, the referee will instruct pilots to “Arm Your Drones!” and then signal the start of play.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                <span class="faq-btn-text">At What Point Is A Goal Determined To Be Valid?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                A point is awarded when the Striker successfully flies through the opponent’s goal in the forward direction. The drone must completely pass through the goal. No points are awarded for flying through the goal in reverse or for other drones passing through the goal.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                                <span class="faq-btn-text">What Are Some Of The Rules Of Drone Soccer?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><strong>Misconduct:</strong><p>Players, coaches, and spectators must behave respectfully. Officials can remove participants from the match or tournament for misconduct.</p></li>
                                    <li><strong>Controlled Flight:</strong><p>Drones must be flown under control. Reckless flight causing intentional damage may result in penalties or removal from the game. Disabled drones should be immediately disarmed.</p></li>
                                    <li><strong>Interference:</strong><p>Only referees can physically interact with drones inside the arena. No other participants may touch drones through the netting.</p></li>
                                    <li><strong>Early Start:</strong><p>Players must arm but remain grounded until the start signal.</p></li>
                                    <li><strong>Offsides:</strong><p>After scoring, all players must retreat to the centerline before attacking again. Points will not be awarded until all active teammates have cleared the attack zone. Disabled drones do not count.</p></li>
                                    <li><strong>Direction Of Flight:</strong><p>Strikers cannot score by flying through the opponent’s goal from the back. Defenders cannot hover within or fly through the goal in reverse. Drones entering the goal must fly out and around to re-enter play.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                                <span class="faq-btn-text">Do Penalties Exist In Drone Soccer?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Penalties may result in penalty shots during extra time after each set. The Striker has ten seconds to attack against a single defender and can attempt multiple goals. Penalty shot time does not count against the set time. After the penalty, regular play resumes.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                                <span class="faq-btn-text">What Happens If A Drone Gets Damaged Mid-flight?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><strong>Handling Damage:</strong><p>Aggressively flown drones may get damaged. A damaged drone must be immediately disarmed, and the team will fly short-handed for the rest of the set.</p></li>
                                    <li><strong>Striker Replacement:</strong><p>If a striker is disabled, the referee will pause the game, land all drones, swap flags to a backup striker, and resume play from current positions.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                                <span class="faq-btn-text">What Should A Player Do If Their Drone Flips Over & Faces Right-Side Up?</span>
                            </button>
                        </h2>
                        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Drones stuck upside down should use "turtle mode" to flip over or get a bump assist from a teammate. If stuck against the arena, notify the referee for assistance. Do not touch the drone through the net. The referee may pause the game to free a stuck drone.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section Button -->
        </div>
    </div>

</section>

<%- include('partials/footer') %>