<%- include('partials/header') %>

<section class="home-section" id="pills-home">
    <div class="container d-flex justify-content-center ball-div">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="text-center py-3">
        <h2 class="intro-title">
            <span style="color:#0d6efd">Welcome To The Thrilling</span><br> World Of <span class="wave-text">Drone Soccer!</span>
        </h2>
    </div>
</section>

<section class="container-fluid cta">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <h2>Join the convergence of STEM & Sports</h2>
            <p>We enable students explore the field of science, technology & aviation in a fun and simple way, broadening horizons in their prospective careers.</p>
        </div>
        <div style="display: flex;align-items: center;justify-content: center" class="col-lg-3 col-sm-12">
            <button style="padding: 4% 20%" type="button" class="btn btn-danger btn-lg">
                <a style="text-decoration: none; color: #fff;" href="/sports#pills-sign-up"><span style="font-size: 32px">Join Now!</span></a>
            </button>
        </div>

    </div>
</section>

<!-- ABOUT SECTION -->

<section id="pills-about">
    <div class="container-fluid">
        <div class="row py-5 d-lg-flex justify-content-lg-evenly justify-content-center">

            <div class="col-lg-5">
                <div class="text-center py-1" data-aos="zoom-in" data-aos-duration="1000">
                    <h2 class="intro-title">
                        What Is Drone Soccer?
                    </h2>
                </div>
                <div class="card p-2 mb-2" data-aos="fade-right" data-aos-duration="1500">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #000" class="fa-solid fa-star fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">
                                    Imagine soccer, but instead of kicking a ball, you're piloting a mini-spaceship through a glowing sphere. That's drone soccer in a nutshell!
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card p-2 mb-2"  data-aos="fade-right" data-aos-duration="2000">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #000" class="fa-solid fa-star fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                </h4>
                                <h4 class="mb-0">
                                    Pilots wearing headsets become aerial athletes, maneuvering their drone gladiators in a dazzling ballet of skill and strategy.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card p-2 mb-2" data-aos="fade-right" data-aos-duration="2500">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #000" class="fa-solid fa-star fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">
                                    Part futuristic sport, part high-tech engineering challenge, drone soccer is taking the world by storm.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card p-2 mb-2" data-aos="fade-right" data-aos-duration="3000">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #000" class="fa-solid fa-star fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">
                                    It's like your favorite video game coming to life, with a healthy dose of teamwork and real-world flying thrown in for good measure.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-left" data-aos-duration="2200">
                <div class="video-box" style="display: flex; justify-content: center;">
                    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            src="https://www.youtube.com/embed/decNFCjhYw4">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <img class="blob" style="color: #0d6efd;" src="/images/orange.png" width="400" height="">
            </div>
            <div class="col-11">
                <div class="container-fluid">
                    <div class="text-center py-3">
                        <h2 class="about-title">
                            Welcome to the future of STEM education and e-Sports!
                        </h2>
                    </div>
                </div>
                <div class="about-content">
                    <p style="font-weight: 600; font-size: 23px; color: #0f0f0f;">
                        Imagine a classroom where students are not just passive learners but active participants,
                        where they can see the principles of science, technology, engineering, and mathematics with sports come to life right before their eyes.
                        With drone soccer, this vision becomes a reality. Our innovative curriculum combines the excitement of competitive sports with hands-on learning, providing an engaging and immersive experience that fosters creativity, critical thinking, and collaboration.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<%- include('partials/footer') %>
