<%- include('partials/header') %>

<section class="container" role="tabpanel">
    <div class="row justify-content-sm-center">
        <div class="cl-xl-7 col-lg-8 col-md-10">
            <div class="section-tittle text-center pt-10">
                <h2>How It Works </h2>
                <h4>Step-by-Step Process</h4>
            </div>
        </div>
    </div>
</section>

<section class="py-3 px-3 comm-services">
    <div class="container-fluid">
        <div class="row">
            <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4">
                <div class="card mb-3 border-success">
                    <img src="/images/assess.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Assessment and planning</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">The program begins by assessing the readiness and interest in implementing drone soccer. Factors such as available resources, space for flying drones safely, and student interest are evaluated.</li>
                        <li class="list-group-item">Planning involves determining how drone soccer will fit into the existing curriculum or extracurricular activities, identifying potential partnerships in academy’s or leagues and setting goals for implementation.</li>
                    </ul>
                </div>
            </div>
            <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4">
                <div class="card border-success mb-3">
                    <img src="/images/train.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Training & Preparation</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Educators and administrators undergo training to familiarize themselves with drone technology, safety protocols, and curriculum implementation strategies. This training ensures that they are equipped to lead drone soccer activities effectively</li>
                        <li class="list-group-item">Schools may also need to acquire the necessary equipment, including drones, controllers, safety gear, and repair kits.</li>
                    </ul>
                </div>
            </div>
            <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4 pt-4">
                <div class="card border-success mb-3" >
                    <img src="/images/compe.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Organizing Competitions</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Schools can organize drone soccer competitions as a way to showcase students' skills and foster a spirit of friendly competition. Competitions may be held within the school, between different classes or teams, or with other schools in the region.</li>
                        <li class="list-group-item">Organizing competitions involves planning logistics such as venue, scheduling, rules, judging criteria, and awards.</li>
                    </ul>
                </div>
            </div>
            <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4 pt-4">
                <div class="card border-success mb-3">
                    <img src="/images/integrate.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Integration Into Curriculum</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Drone soccer can be integrated into various subjects, including science, technology, engineering, mathematics, and even physical education. Educators design lesson plans that incorporate drone activities, aligning them with learning objectives and standards.</li>
                        <li class="list-group-item">Classroom integration may involve hands-on drone building and programming exercises, simulations, and projects that culminate in drone soccer matches.</li>
                    </ul>
                </div>
            </div>
            <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4 pt-4">
                <div class="card border-success mb-3">
                    <img src="/images/stem.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Extra-curricular Activities</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Schools may offer drone soccer as an extracurricular club or team, providing students with opportunities for further engagement and skill development outside of regular classes.</li>
                        <li class="list-group-item">Extracurricular activities include regular practices, scrimmages, and participation in local or regional drone soccer tournaments. They allow students interact with science on a larger scale</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="pb-4" id="pills-stem">
        <div class="container-fluid">
            <div class="text-center py-3">
                <h2 class="intro-title">
                    Teacher Training
                </h2>
                <div style="padding: 1% 3%">
                    <h4>
                        Schools have access to comprehensive training programs designed specifically for educators interested in teaching drone soccer. These programs are typically offered by experienced instructors or organizations with expertise in drone technology and education.
                    </h4>
                </div>
            </div>
        </div>
    </section>

        <section class="row px-3 container-content">
            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #7B3F00" class="fa-solid fa-puzzle-piece fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Drone Assembly & Maintenance</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Teachers receive hands-on training in building and maintaining drones, equipping them with the skills to assist students in the construction process.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #e81123" class="fa-solid fa-code fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Programming & Control</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Educators learn how to teach students the basics of drone programming and remote control operation, enabling them to guide students through coding exercises and flight simulations.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #B2BEB5" class="fa-solid fa-user-plus fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Teamwork</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Training sessions may be conducted in-person or online, offering flexibility for educators with varying schedules and preferences across the board.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #1ed760" class="fa-solid fa-helmet-safety fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Safety & Regulations</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Educators learn about the legal and safety considerations of operating drones, ensuring that they can create a safe learning environment for students.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #4B0082" class="fa-solid fa-square-root-variable fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Curriculum Integration</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Training programs provide guidance on integrating drone soccer activities into existing curricula, aligning them with educational standards and learning objectives.
                        </h5>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-4" id="pills-stem">
            <div class="container-fluid">
                <div class="text-center py-3">
                    <h2 class="intro-title">
                        Resources Provided
                    </h2>
                    <div style="padding: 1% 3%">
                        <h4>
                            Schools have access to a range of resources to support their implementation of drone soccer, including:
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section id="resources" class="row px-3 container-content">
            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #7B3F00" class="fa-solid fa-toolbox fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Drone Kits</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Teachers receive hands-on training in building and maintaining drones, equipping them with the skills to assist students in the construction process.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #e81123" class="fa-solid fa-book fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Curriculum Guides</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Educators learn how to teach students the basics of drone programming and remote control operation, enabling them to guide students through coding exercises and flight simulations.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #B2BEB5" class="fa-solid fa-globe fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Online Resources</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Training sessions may be conducted in-person or online, offering flexibility for educators with varying schedules and preferences across the board.
                        </h5>
                    </div>
                </div>
            </div>

        </section>

<%- include('partials/footer') %>
