<%- include('partials/header') %>

<section id="pills-gameplay">

    <section class="container" role="tabpanel">
        <div class="text-center py-2">
            <h2 class="intro-title">
                Join The Thrilling World Of Drone Soccer
            </h2>
            <div style="padding: 1% 3%">
                <h4 style="font-size: 22px">
                    Welcome to the cutting-edge world of drone soccer eSports!
                    Combining the adrenaline of competitive sports with the innovation of drone technology, drone soccer is the ultimate arena for students to test their skills, teamwork, and strategy.
                </h4>
            </div>
        </div>
    </section>

    <section class="py-3 px-3 comm-services">
        <div class="container-fluid">
            <div class="row">
                <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4">
                    <div class="card mb-3 border-success">
                        <img src="https://clipground.com/images/develop-clipart-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Form A Team</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Gather your friends or classmates and form a team. Each team can have pilots, technicians, and strategists.</li>
                        </ul>
                    </div>
                </div>
                <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4">
                    <div class="card border-success mb-3">
                        <img src="https://png.pngtree.com/png-vector/20221224/ourmid/pngtree-register-now-banner-design-transparent-background-png-image_6535781.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Register For Competitions</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Sign up for regional, national & international drone soccer competitions. Stay tuned for upcoming events on our calendar.</li>
                        </ul>
                    </div>
                </div>
                <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4">
                    <div class="card border-success mb-3" >
                        <img src="https://media.istockphoto.com/id/1279344170/vector/lots-arrows-missed-hitting-target-mark-and-only-one-hits-the-center.jpg?s=612x612&w=0&k=20&c=2xFouSQEBUGQkp25gH-ONYBhkVGa7tHsEr95YleuU-M=" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Train & Practice</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Use our resources to train and practice. Participate in workshops and training sessions to sharpen your skills.</li>
                        </ul>
                    </div>
                </div>
                <div style="display: flex;justify-content: center" class="col-lg-3 col-md-4">
                    <div class="card border-success mb-3">
                        <img src="https://www.shutterstock.com/image-vector/happy-cute-kid-win-game-600nw-1528647851.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Compete & Win</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Enter the competition arena, showcase your talents, and strive to be the best. Compete for trophies, medals, and scholarships.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container" role="tabpanel">
        <div class="text-center py-2">
            <h2 class="intro-title">
                Rules & Gameplay
            </h2>
            <div style="padding: 1% 3%">
                <h4 style="font-size: 22px">
                    Drone Soccer Made Simple & Fun
                </h4>
            </div>
        </div>
    </section>

    <section>

        <div class="container-fluid">
            <div class="row">
                <div class="ag-format-container">
                    <div class="ag-courses_box">
                        <div class="ag-courses_item" data-aos="fade-up" data-aos-duration="1500">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                <div class="ag-courses-item_title">
                                    <h4>Team Composition</h4>
                                </div>
                                <div class="ag-courses-item_title text">
                                    Each team consists of 3-5 players(active) and a max of 10 members where none participating members are the crew: striker, keeper, sweeper, center and forward plus supporting team members.
                                </div>
                            </a>
                        </div>

                        <div class="ag-courses_item" data-aos="fade-up" data-aos-duration="1800">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                <div class="ag-courses-item_title">
                                    <h4>Objective</h4>
                                </div>
                                <div class="ag-courses-item_title text">
                                    The primary objective is to score goals by flying the striker drone through the opponent's goal.
                                    If the striker is damaged the forward can tag the striker on the ground and assume the striker position.
                                </div>
                            </a>
                        </div>

                        <div class="ag-courses_item" data-aos="fade-up" data-aos-duration="2100">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                <div class="ag-courses-item_title">
                                    <h4>Match Duration</h4>
                                </div>
                                <div class="ag-courses-item_title text">
                                    Matches are divided into 3 sets, each 3-5 min, with a 3-5 min repair countdown between sets for a battery exchange, aircraft repair and substitutions. 30 minutes are allotted per match.
                                </div>
                            </a>
                        </div>

                        <div class="ag-courses_item" data-aos="fade-up" data-aos-duration="2400">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                <div class="ag-courses-item_title">
                                    <h4>Scoring</h4>
                                </div>
                                <div class="ag-courses-item_title text">
                                    Points are scored when the striker flies through the opponent’s goal. The winner of each match is determined by the best of three sets. The team that scores the most points will be awarded that set.
                                </div>
                            </a>
                        </div>

                        <div class="ag-courses_item" data-aos="fade-up" data-aos-duration="2700">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                <div class="ag-courses-item_title">
                                    <h4>Movement, Defense & Offense</h4>
                                </div>
                                <div class="ag-courses-item_title text">
                                    Pilots control their drones using remote controllers, navigating through the air. Teams must balance offensive maneuvers to score goals and defensive strategies to protect their own goal
                                </div>
                            </a>
                        </div>

                        <div class="ag-courses_item" data-aos="fade-up" data-aos-duration="3000">
                            <a class="ag-courses-item_link">
                                <div class="ag-courses-item_bg"></div>
                                <div class="ag-courses-item_title">
                                    <h4>Collisions & Fouls</h4>
                                </div>
                                <div class="ag-courses-item_title text">
                                    Accidental collisions are common, but intentional ramming or causing damage to other drones is prohibited and may result in penalties.
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="container" role="tabpanel">
        <div class="text-center py-2">
            <h2 class="intro-title">
                At A Glance.....
            </h2>
        </div>
    </section>

    <section class="py-3 px-3 game comm-services">
        <div class="container-fluid">
            <div class="row">
                <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4 pb-4">
                    <a href="#" class="card">
                        <img src="/images/kit.jpg" alt="Drone Kit" class="card__img">
                        <span class="card__footer">
                            <span>Drone Kit</span>
                        </span>
                    </a>
                </div>
                <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4 pb-4">
                    <a href="#" class="card">
                        <img src="/images/inspection.jpg" alt="Inspecting A Drone" class="card__img">
                        <span class="card__footer">
                            <span>Pre-flight Inspection</span>
                        </span>
                    </a>
                </div>
                <div style="display: flex;justify-content: center" class="col-lg-4 col-md-4 pb-4">
                    <a href="#" class="card">
                        <img src="/images/testing.jpg" alt="Live Match" class="card__img">
                        <span class="card__footer">
                            <span>A live Match</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

        <div class="container-fluid gameplay-bg">
            <div class="row justify-content pt-3">
                <div style="display: flex;" class="col-sm-6">
                    <div style="align-content: center;">
                        <div class="striped-line"></div>
                    </div>
                    <div style="justify-content: end;">
                        <h4 style="font-weight: 900; font-size: 32px; color: #fff;" class="competition">
                            Upcoming Competitions and Events
                        </h4>
                    </div>

                </div>
            </div>
            <div class="d-lg-flex justify-content-lg-evenly py-4">
                <div class="col-lg-5 py-2" data-aos="fade-right" data-aos-duration="1500">
                    <div class="card">
                        <h4 style="font-weight: bold" class="text-center">Event Calendar</h4>
                        <ul class="m-0">
                            <p>
                                Check out our event calendar for upcoming drone soccer competitions, workshops, and training sessions.
                            </p>
                            <p>
                                Don't miss your chance to compete and connect with other drone soccer enthusiasts.
                            </p>
                            <p>
                                Featuring major international competitions in The United States, Korea, China, Italy, Turkey and many more.
                            </p>
                        </ul>
                        <div class="pt-3 d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-primary btn-lg">
                                <a style="text-decoration: none; color: #fff;" href="/events">
                                    See More<span class="pe-2"></span>
                                    <i class="fa-solid fa-circle-right"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 py-2" data-aos="fade-left" data-aos-duration="1700">
                    <div class="card">
                        <h4 style="font-weight: bold" class="text-center">Resources & Training</h4>
                        <strong>Training Programs:</strong><p>Access our comprehensive training programs to get you started.</p>
                        <strong>Online Tutorials & Guides:</strong><p>Explore our library of online tutorials and guides.</p>
                        <strong>Community Forums:</strong><p>Join our community forums to ask questions, share insights, and collaborate.</p>
                        <div class="pt-3 d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-primary btn-lg">
                                <a style="text-decoration: none; color: #fff;" href="/join#resources">
                                    Partner With Us<span class="pe-2"></span>
                                    <i class="fa-solid fa-circle-left"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- SIGN-UP SECTION -->

<section id="pills-sign-up">
    <div class="container-fluid px-1 py-1 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3 class="signup pt-3">Join Today</h3>
                <div class="card">
                    <form id="soccerForm" class="form-card" onsubmit="event.preventDefault()">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Enter your first name" onblur="validate(1)" autocomplete="off" required> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> <input type="text" id="lname" name="lname" placeholder="Enter your last name" onblur="validate(2)" autocomplete="off" required> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="" onblur="validate(3)" autocomplete="off" required> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> <input type="text" id="phone" name="phone" placeholder="" onblur="validate(4)" autocomplete="off" required> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Institution<span class="text-danger"> </span></label> <input type="text" id="school" name="school" placeholder="" onblur="validate(5)" autocomplete="off"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Age<span class="text-danger"> *</span></label> <input type="text" id="age" name="age" placeholder="" onblur="validate(5)" autocomplete="off" required> </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6"> <button data-bs-toggle="modal" id="soccer-btn" data-bs-target="#staticBackdrop" type="submit" class="btn btn-block btn-primary" disabled>Submit</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>