<%- include('partials/header') %>

<section class="pb-4" id="pills-stem">
    <div class="container-fluid">
        <div class="text-center py-3">
            <h2 class="intro-title">
                Core Curriculum Components
            </h2>
            <div style="padding: 1% 3%">
                <h4>
                    Our drone soccer curriculum is designed to align with STEM educational standards, providing students with a comprehensive learning experience that bridges theory and practice.
                    Through hands-on activities, students gain a deep understanding of scientific principles, engineering challenges, and technological advancements.
                </h4>
            </div>
        </div>

        <section class="row px-1 container-content">
            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #7B3F00" class="fa-solid fa-puzzle-piece fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Drone Assembly</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Introduction to drone parts and tools, step-by-step assembly instructions, troubleshooting and maintenance tips.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #e81123" class="fa-solid fa-code fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Programming</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Coding concepts, programming drone flight paths and maneuvers, autonomous flight and sensor integration.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #B2BEB5" class="fa-solid fa-user-plus fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Teamwork</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Collaborative project planning, roles and responsibilities within teams, communication and problem-solving strategies.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #1ed760" class="fa-solid fa-helmet-safety fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Safety</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Drone operation safety protocol, pre-flight checks and risk assessments, emergency procedures and response plans.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #fe702d" class="fa-solid fa-calculator fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Mathematics</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Calculations for drone flight dynamics, geometry and trigonometry applications in flight path planning.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #4B0082" class="fa-solid fa-square-root-variable fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Physics</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Principles of aerodynamics and flight, forces acting on drones during flight, energy consumption and efficiency.
                        </h5>
                    </div>
                </div>
            </div>
        </section>

        </div>
    </div>
</section>

<section class="pb-4" id="pills-stem">
    <div class="container-fluid">
        <div class="text-center py-3">
            <h2 class="intro-title">
                Educational Benefits
            </h2>
        </div>

        <section class="row px-1 container-content">
            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #7B3F00" class="fa-solid fa-puzzle-piece fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Engagement</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Drone soccer captivates students' attention, making STEM subjects more exciting and accessible.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #e81123" class="fa-solid fa-code fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Skill Development</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Students develop technical skills in engineering and programming, as well as soft skills like teamwork and strategic thinking.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #B2BEB5" class="fa-solid fa-user-plus fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Career Readiness</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Exposure to drone technology and its applications prepares students for future careers in fields such as aerospace, robotics, and engineering.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #1ed760" class="fa-solid fa-helmet-safety fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Real World Applications</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            Students see how STEM concepts are applied in technology & industry, bridging the gap between theory & real-world challenges.
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 pb-4">
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i style="color: #fe702d" class="fa-solid fa-calculator fa-xs"></i> </div>
                            <div class="ms-2 c-details">
                                <h4 class="mb-0">Fostering Innovation</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5 class="heading">
                            By encouraging creative problem-solving, drone soccer nurtures the innovators of tomorrow.
                        </h5>
                    </div>
                </div>
            </div>

        </section>

    </div>
    </div>
</section>


<section id="pills-sign-up">
    <div class="container-fluid px-1 py-1 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3 class="signup pt-3">Get Started</h3>
                <div class="card">
                    <form id="stemForm" class="form-card" onsubmit="event.preventDefault()">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label> <input type="text" id="stemfname" name="fname" placeholder="Enter your first name" onblur="validate(1)" autocomplete="off" required> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> <input type="text" id="stemlname" name="lname" placeholder="Enter your last name" onblur="validate(2)" autocomplete="off" required> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <input type="text" id="stememail" name="email" placeholder="" onblur="validate(3)" autocomplete="off" required> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Institution<span class="text-danger"> </span></label> <input type="text" id="stemschool" name="school" placeholder="" onblur="validate(5)" autocomplete="off"> </div>

                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">
                                    Phone number<span class="text-danger"> *</span>
                                </label>
                                <input
                                       value="+254"
                                       type="tel"
                                       id="stemphone"
                                       name="phone"
                                       placeholder=""
                                       onblur="validate(4)"
                                       autocomplete="off"
                                       required
                                >
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Select Service<span class="text-danger"> *</span></label>
                                <select class="services-needed" id="service-option" name="service-option">
                                    <option value="Demo">Demo</option>
                                    <option value="General Enquiry">General Enquiry</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6"> <button data-bs-toggle="modal" id="stem-btn" data-bs-target="#staticBackdrop" type="submit" class="btn btn-block btn-primary" disabled>Submit</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>